* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #c8d6e5;
    font-family: sans-serif;
}

.top-nav-bar {
    height: 57px;
    top: 0;
    position: sticky;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 3px solid #feca57;
    z-index: 2;
}

.logo {
    height: 40px;
    margin: 5px 10px;
}

.form-control {
    margin-top: 9px;
    margin-left: 30px;
    border: 1px solid orange !importent;
    border-top-left-radius: 20px !importent;
    border-bottom-left-radius: 20px !importent;
    border-top-right-radius: 0 !importent;
    border-bottom-right-radius: 0 !importent;
    box-shadow: none !importent;
}

span.input-group-text {
    background: orange;
    border: 1px solid orange;
    margin: 8.7px 10px 3px 0;
    cursor: pointer;
    border-radius: 0px 20px 20px 0px;
}

.search-box {
    display: inline-flex;
    width: 60%;
}

.fa-search {
    color: #fff;
}

.menu-bar {
    width: 40%;
    height: 57px;
    float: right;
}

.menu-bar ul {
    display: inline-flex;
    float: right;
}

.menu-bar ul li {
    border-left: 1px solid #fff;
    list-style: none;
    padding: 15px 35px;
    text-align: center;
    background-color: #ff9f43;
    cursor: pointer;
}

.menu-bar ul li a {
    font-size: 16px;
    color: aliceblue;
    text-decoration: none;
    font-weight: bold;

}

.fa-shopping-cart {
    margin-right: 5px;
}

.fa-user {
    margin-right: 5px;
}

.fa-user-o {
    margin-right: 5px;
}



/****************side menu design************/

#navbarNav ul li a {
  font-size: 20px;
  padding: 15px 20px;
  color:white;
    font-weight: 600;
}
.navbar.navbar-dark.navbar-expand-md {
  background: #0063D1;
}


/*************slider design**************/


.carousel-item{
    height: 450px;
}
.carousel-img-1{
    background-image: url(./image/slider1.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-img-2{
    background-image: url(./image/slider2.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.carousel-img-3{
    background-image: url(./image/slider3.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


/*-----------featured categories section-----------*/

.featured-categories {
    margin: 50px 0;
}

.featured-categories img {
    width: 100%;
    padding: 20px 0;
    transition: 1s;
    cursor: pointer
}

.featured-categories img:hover {
    transform: scale(1.1)
}

.title-box {
    background: orange;
    color: aliceblue;
    width: 180px;
    padding: 4px 10px;
    height: 40px;
    margin-bottom: 30px;
    display: flex;
}

.title-box h2 {
    font-size: 24px;
}

.title-box::after {
    content: '';
    border-top: 40px solid orange;
    border-right: 50px solid transparent;
    position: absolute;
    display: flex;
    margin-top: -4px;
    margin-left: 170px;
}


/*-------product top-------*/

.product-top img {
    width: 100%;
}

.overlay-right {
    display: block;
    opacity: 0;
    position: absolute;
    top: 1%;
    margin-left: 0;
    width: 70px;
}

.overlay-right .fa {
    cursor: pointer;
    background-color: aliceblue;
    color: #000;
    height: 35px;
    width: 35px;
    font-size: 20px;
    padding: 7px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.overlay-right .btn-secondary {
    background: none !importent;
    border: none !importent;
    box-shadow: none !importent;
}

.product-top:hover .overlay-right {
    opacity: 1;
    margin-left: 5%;
    transition: .5s
}


/*----------product bottom-----------*/


.product-bottom .fa {
    color: orange;
    font-size: 15px;
}

.product-bottom h3 {
    font-size: 20px;
    font-weight: bold;
}

.product-bottom h5 {
    font-size: 15px;
    padding-bottom: 15px;
}

.new-products {
    margin: 50px 0;
}


/***************website-features*************/


.website-features {
    margin: 60px 0;
}

.website-features img {
    width: 20%;
}

.feature-text {
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}

.feature-box {
    padding-top: 20px;
}



/*********************footer section*******************/


.footer {
    margin-top: 50px;
    background: #000;
    color: aliceblue
}

.footer h1 {
    font-size: 20px;
    margin: 25px 0;
}

.footer p {
    font-size: 16px;
    line-height: 25px;
}

p.copyright {
    margin-bottom: -80px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}

.footer-image img {
    width: 150px;
}

.footer .row .fa {
    padding-right: 10px;
}


/***********single product page design start***************/


.single-product {
    margin-top: 70px;
}

.new-arrival {
    background: orange;
    color: aliceblue;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20px;
    width: 50px;
}

.single-product .fa {
    color: orange;
}

.single-product .price {
    color: orange;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}

.single-product input {
    border: 1px solid #ccc;
    font-weight: bold;
    height: 33px;
    text-align: center;
    width: 30px;
    border-color: black;
}

.single-product .btn-primary {
    background: orange;
    color: aliceblue;
    font-size: 15px;
    border: none;
    margin-left: 20px;
    box-shadow: none;
}


/********************product-description**************/


.product-description .nav-tabs {
    background: #D6D6D6;
    width: 100%;
    border-radius: 5px;
    font-weight: normal;

}

.nav-tabs ul li {
    list-style: none;
}

.nav-tabs ul li a {
    color: #333;
    font-size: 20px;
    padding: 5px 5px;
    border: none;
    display: block;
}

.nav-tabs .nav-link {
    border: none !important;
}

.product-description p {
    margin-top: 30px;
}

/*latest collection css design*/


.Latest-collection .big-height {
    height: 85%;
}


/*Ho deal section*/

.on-sale .testi-section img{
    border-radius: 50%;
    width: 30%;
    display: inline-block;
}
.on-sale .testi-title{
    margin-top: -70px;
}
.on-sale .title hr{
    width: 63%;
}

/*product categories*/

.product-categories h3 {
	text-transform: capitalize;
	font-size: 20px;
	line-height: 24px;
	font-weight: 600;
	margin-bottom: 15px;
}

.product-categories p {
	font-size: 13px;
	line-height: 25px;
	margin-bottom: 0;
	font-weight: 500;
}

.product-categories a {
    background:blue;
	color: #ffffff;
	background: #0063d1;
	text-transform: capitalize;
	display: inline-block;
	padding: 10px 15px;
	border-radius: 4px;
	margin-top: 28px;
}
.product-categories .img-border{
    border: 1px solid #ebebeb;
    
}

/***************website-features*************/


.website-features {
    margin: 60px 0;
}

.website-features img {
    width: 20%;
}

.feature-text {
    margin-top: 10px;
    float: right;
    width: 80%;
    padding-left: 20px;
}

.feature-box {
    padding-top: 20px;
}


/*shop page design*/
    

.breadcrumbs{
    background: #F0F0F0;
    padding: 25px 20px;
}
.breadcrumbs ul{
    margin: 0;
    padding: 0;
}
.breadcrumbs ul li{
    display: inline-block;
}
.breadcrumbs ul li a{
    font-size: 20px;
    list-style: none;
    color: #333;
    margin-right: 25px;
    text-decoration: none;
    font-weight: 500;
}